<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="header">
    <nav class="navbar navbar-inverse cocktail-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-figge" th:href="@{/}">
                    <img th:src="@{/images/FiggeLogoQuadrat.jpg}" width="50" height="50" alt="Figgestube"/>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/cocktails}" sec:authorize="isAuthenticated()">Cocktails</a></li>
                    <li><a th:href="@{/isReady}">Fertig?</a></li>
                    <li><a th:href="@{/statistics}" sec:authorize="isAuthenticated()">Statistiken</a></li>
                    <li><a th:href="@{/admin}" sec:authorize="isAuthenticated()">Admin</a></li>
                    <li><a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a></li>
                    <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>