.cocktail-col-md-4 {
    width: 33.33333333333%;
}

.cocktail-col-md-8 {
    width: 66.66666666666%;
}

.cocktail-col-md-12 {
    width: 100%;
}

.cocktail-col-xs-12 {
    width: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}