footer{
	margin-top:60px;
}

.navbar-figge {
	padding-top: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

.figge-row {
	margin-top: 10px;
}

.figge-col {
    padding-left: 0;
}

.cocktail-navbar {
	border-radius: 0;
}

h4 {
	font-size: 220%;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'cocktail-font';
}

@font-face {
	font-family: "cocktail-font";
	src: url(/fonts/cocktailabend-font.ttf) format("truetype");
}
