<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cocktailkarte</title>

    <div th:replace="fragments/head :: head"/>

</head>
<body>

<!-- TODO edit content -->

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h2>Cocktailkarte</h2>
    <div id="order-list">
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 figge-col">
            <h4>Cocktailname</h4>
            <p>Ingerdent 1, Ingerdent 2, Ingerdent 3, Ingerdent 4, Ingerdent 5, Ingerdent 6, Vodka</p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>