<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cocktailkarte</title>

    <div th:replace="fragments/head :: head"/>

</head>
<body>

<!-- TODO edit content -->

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h2>Cocktailkarte</h2>
    <div id="order-list">
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Bahama Mama</h4>
            <p>Weißer Rum, Malibu, Orangensaft, Ananassaft, Zitronensaft, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Ballantine's British</h4>
            <p>Whiskey, Likör 43, Maracujasaft, Mangosaft, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Caipirinha</h4>
            <p>Cachaca, Lime Juice, Limette, Brauner Zucker</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Caipiroska</h4>
            <p>Wodka, Lime Juice, Limette Brauner Zucker</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Captain Sunshine</h4>
            <p>Captain Morgan, Maracujasaft, Mangosaft, Lime Juice, Karamelsirup</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Cuba Sunset</h4>
            <p>Weißer Rum, Malibu, Orangensaft, Maracujasaft, Lime Juice, Erdbeersirup</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Die Young</h4>
            <p>Havana Rum, Cachaca, Tequila, Wodka, Apricot Brandy, Triple Sec, Cassis, Malibu, Cointreau, Galliano, Safari, Maracujasaft, Orangensaft, Ananassaft, Lime Juice, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Käpt'n Chaos</h4>
            <p>Weißer Rum, Wodka, Gin, Orangensaft, Maracujasaft, Zitronensaft, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Long Island Ice Tea</h4>
            <p>Weißer Rum, Gin, Tequila, Wodka, Triple Sec, Lemon Squash, Cola</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Los Gurkos</h4>
            <p>Gin, Gurke, Zitronensaft, Apfelsaft, Holunderblütensirup</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Mai Tai</h4>
            <p>Captain Morgan, Havana Rum, Cachaca, Apricot Brandy, Zitronensaft, Lime Juice, Mandelsirup</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Manuel, fick dich hart</h4>
            <p>Wodka, Malibu, Tonic Water, Kirschsaft</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Mojito</h4>
            <p>Havana Rum, Limette, Minze, Weißer Zucker, Mineralwasser</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Sex on the Beach</h4>
            <p>Weißer Rum, Wodka, Crème de Casis, Peachtree, Zitronensaft, Anananssaft, Maracujasaft, Lime Juice</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Swimming Pool</h4>
            <p>Wodka, Blue Curacao, Ananassaft, Kokossirup, Sahne</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Tequila Sunrise</h4>
            <p>Tequila, Orangensaft, Zitronensaft, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Vanilla Kiss</h4>
            <p>Malibu, Likör 43, Orangensaft, Maracujasaft, Mangosaft, Galliano, Vanillesirup</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Zombie</h4>
            <p>Weißer Rum, Brauner Rum, Ananassaft, Orangensaft, Maracujasaft, Zitronensaft, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Bunny (Vrigin)</h4>
            <p>Mangosaft, Ananassaft, Zitronensaft, Kokossirup, Grenadine</p>
        </div>
        <div class="col-sm-12 col-md-6 figge-col">
            <h4>Ipanema (Virgin)</h4>
            <p>Ginger Ale, Maracujasaft, Lime Juice, Limette, Brauner Zucker</p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>