<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistiken</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="starter-template">
        <canvas id="diagram" height="600vw" width="1140vw"></canvas>
        <canvas id="mostCalled" height="600vw" width="1140vw"></canvas>
        <div id="error">
            Etwas hat beim Anzeigen der Statistiken nicht geklappt.
        </div>
        <div id="noData">
            Es liegen noch keine Daten vor.
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
<script th:src="@{/js/chart.min.js}"></script>
<script th:src="@{/js/statistics.js}"></script>

</body>
</html>